* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    padding: 0 20px;
    background-color: #1f2937;
    padding-top: 5px;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    max-width: 444px;
}

.nav ul li  {
    flex: 1;
}

.nav ul li a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.nav ul li :hover {
    color: gray;
}

.logo {
    flex: 1;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.hero{
    display: flex;
    background-color: #1f2937;
    padding-top: 100px;
    justify-content: center;
}

.herotext{
    flex: 1;
    margin: 0 20px;
    max-width: 450px;
}

.herotext h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9faf8;
}

.herotext p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.hero img{
    flex: 1;
    width: 50px;
    height: auto;
    max-width: 450px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    font-weight: bold;
    flex: 1;
    margin-top: 20px;
    text-align: center;
}

.infocontainer {
    display: flex;
    height: 270px;
    margin: 0 40px;
    max-width: 860px;
    align-content: center;
}

.contained {
    display: flex;
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #3882F6;
    margin-bottom: 15px;
    max-width: 160px;
}

.contained p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    max-width: 150px;
}

.testimonial {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    padding-bottom: 10px;
    width: 860px;
    flex: 1;

}

.testimonial p {
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

.callToAction {
    display: flex;
    align-content: center;
    padding: 20px;
    align-content: center;
    justify-content: center;
}

.callToAction .box {
    display: flex;
    background-color: #3882f6;
    margin: 15px;
    padding: 25px;
    border-radius: 5px;
    max-width: 860px;
    flex: 2;
}

.callToAction .text {
    flex: 1;
    color: #e5e7eb
}

.callToAction button {
    flex:1;
    max-width: 100px;
}